<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内联框架</title>
</head>
<body>
<!-- iframe内联框架
src:地址
w-h：宽度和高度

-->
<iframe src="" name="hello" frameborder="0"  width="1000" height="600"></iframe>
<br/>
<a href="https://www.baidu.com/" target="hello">点击跳转</a><br/>

<!--这是哔哩哔哩的内联框架示例-->
<iframe src="//player.bilibili.com/player.html?aid=973619618&bvid=BV1M44y1B7se&cid=351290636&page=1"
        scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="1000" height="600">
</iframe>

<!--<iframe src=""></iframe>-->
</body>
</html>