<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 表单form
action:表单提交的位置，可以是网站，也可以是一个请求处理地址
method:提交方式
value:默认初始值
size:文本框的长度
 -->
<form action="success.html" method="get">
	<h2>登录</h2>
	<p>名字：<input type="text" name="username" value="可以设置初始值"> </p>
	<p>测试框内提示文字：<input type="text" name="username1" placeholder="请输入信息"> </p>
	<p>密码：<input type="password" name="pwd" required="required"> </p>
	<p>设置为只读:<input type="text" name="only-read" value="admin" readonly="readonly"> </p>
	<p>
		<!-- 单选框 -->
		<!-- name一样代表一个组 -->
		<!--单选框用一个名字-->
		<input type="radio" value="boy" name="sex"/> 男
		<input type="radio" value="girl" name="sex"/> 女
	</p>
	
	<!-- 多选框 -->
	<p>
		<input type="checkbox" value="sleep" name="hobby" checked="checked">睡觉
		<input type="checkbox" value="code" name="hobby" disabled="disabled">敲代码
		<input type="checkbox" value="chat" name="hobby">聊天
		<input type="checkbox" value="sing" name="hobby">唱歌
	</p>
	<!-- 下拉框 -->
	<p>下拉框：
		<select name="列表名称">
			<option value="zhangsan">张三</option>
			<option value="lisi">李四</option>
			<option value="wangwu" selected="selected">王五</option>
		</select>
	</p>
	
	
	<!-- 文本域-->
	<p>
		<textarea rows="5" cols="10" name="textarea">啦啦啦啦啦</textarea>
	</p>
	
	
	<!-- 文件域 -->
	<p>
		<input type="file" name="files">	
		<input type="button" value="上传文件" name="upload">
	</p>
	
	<!-- 邮箱验证 -->
	<p>邮箱：
		<input type="email" value="请填入你的email" >
	</p>

	<!-- 滑块 -->
	<p>
		<input type="range" name="voice" min="0" max="100" step="5">
	</p>
	
	
	
	
	<p>
		<input type="submit">
		<input type="reset">
	</p>
	<p>
		按钮<input type="button" name="btn" value="点击变长">
	</p>
	
</form>
</body>
</html>