<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>链接跳转</title>
</head>
<body>
    <a name="dingbu">我是顶部</a><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <img alt="11" src="../resource/images/12.jpg"><br/>
    <a href="#dingbu">点我跳转到顶部</a><br/>
</body>
</html>