<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>连接标签学习</title>
</head>
<body>
<!-- 使用name做标记 -->
<a name="top">我是顶部</a>



<a href="图像.html">要开始跳了</a></br>
<!--
target="_blank"：用这个会另起一个页面
-->
<a href="基本标签.html" target="_blank">
<img alt="图像" src="../resource/images/12.jpg" title="悬停文字" width="500" height="300"><br/>
</a>


<!-- 锚连接 
1.需要一个标记
2.跳转到标记
#
-->
<a href="#top">点击我跳转到顶部</a><br>
<a href="mailto:2410378066@qq.com">点击联系老谢</a>

<a target="_blank" href="tencent://Message/?Uin=2410378066&amp;websiteName=local.edu.com:8888=&amp;Menu=yes">
<img border="0" src="http://wpa.qq.com/pa?p=2:2410378066:51" alt="你好，加我QQ，心情好请你吃饭" title="你好，加我QQ，心情好请你吃饭"/>
</a>

</body>
</html>